@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1efed;
  --primary: #326df6;
  --foreground: #20232d;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono);
}
